<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.back.dao.LoginMapper">

    <resultMap id="baseResult" type="com.portal.back.model.User">
        <id column="id" property="id" />
        <result column="username" property="userName" />
        <result column="password" property="passWord" />
        <result column="nickName" property="nickName" />
        <result column="createDate" property="createDate" />
        <result column="updatedate" property="updatedate" />
        <result column="isLogin" property="isLogin"/>
    </resultMap>

    <select id="getUserByUserName" parameterType="java.lang.String" resultMap="baseResult">
        SELECT t.*
        FROM user t
        where t.name = #{name}
    </select>
</mapper>